body {
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: "Nunito Sans";
}

.album-container {
    display: grid;
    justify-content: center;
}

.album-image img {
    height: 500px;
}