body {
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: "Nunito Sans";
}

.home-container {
    display: flex;
    justify-content: center;
}

.album-container {
    display: grid;
    justify-content: center;
    margin-top: 80px;
    padding: 0px;
    width: 520px;
    height: 610px;
    background-color: rgb(40, 40, 40);
    padding-top: 10px;
    cursor: pointer;
    transition: box-shadow 0.15s, background-color 0.15s;
}

.album-image {
    box-shadow: 0px 0px 10px black;
    height: 500px;
    width: 500px;
    transition: box-shadow 0.15s, opacity 0.15s;
}

.album-container:hover{
    background-color: rgb(58, 58, 58);
}

.album-container:hover .album-image{
    opacity: 0.9;
}

.album-image img {
    height: 500px;
    width: 500px;
}


.album-title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 0px;
}

.album-author {
    padding-bottom: 0px;
}