body {
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: "Nunito Sans";
}

.home-menu {
    display: grid;
    grid-template-columns: 270px 1000px;
    cursor: pointer;
    transition: background-color 0.15s;
    width: 99.5%;
}

.home-menu:hover{
    background-color: rgb(58, 58, 58);
}

.album-info-container {
    padding-left: 20px;
    padding-top: 20px;
    display: grid;
    grid-template-rows: 90px 40px 50px;   
}

.album-title {
    font-size: 70px;
    font-weight: 700;
}

.album-description{
    width: 600px;
}

.album-author {
    font-size: 20px;
}

.song-container {
    display: grid;
    width: 1500px;
}

.song-container img {
    padding: 10px;
    height: 250px;
}

.bar{
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 50px 1008px 100px;
    width: 98%;
    color: grey;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    cursor: default;
}

.song{
    margin-top: 5px;
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 50px 1000px 100px;
    width: 98%;
    cursor: pointer;
    transition: background-color 0.15s;
}

.song:hover{
    background-color: rgb(58, 58, 58);
}

.song-number {
    padding-right: 30px;
    display: flex;
    justify-content: center;
}